:root {
  --primary-text-color: #757575; /* Вторичный цвет текста */
  --title-text-color: #212121; /*Цвет основного текста */
  --accent-color: #2196f3; /*Акцент */
  --primary-white-color: #ffffff; /* Белый цвет */
  /* опциональный цвет текста rgba(255, 255, 255, 0.6) 
  rgba(255, 255, 255, 0.4); */
  /* Вторичный цвет фона #F5F4FA */
}

/* Для того чтобы не задавать box-sizing каждому элементу отдельно */
html {
  box-sizing: border-box;
}

/*всем элементам и псевдоэлементам, при помощи универсального селектора *, задаётся наследование box-sizing от предка*/
*,
*::before,
*::after {
  box-sizing: inherit; /*наследует значение блочной модели родителя. */
}

body {
  background-color: #ffffff;
  color: #212121;

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);

  font-style: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);

  font-style: 700;
  font-size: 14px;
  line-height: 1.14;
}
button {
  background-color: #f5f4fa;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px; /*минимальная длинна кнопки */
  border: 1px solid transparent; /*transparent - прозрачная рамка */

  text-align: center;
}

button:hover,
button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Heder */
.page-header {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  outline: 2px solid tomato;
}

.header-container {
  /* height: 80px; */
  outline: 2px solid tomato;
}
/* Logo  */

.logo {
  color: var(--accent-color);

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  outline: 2px solid green;
}

.accent {
  color: var(--title-text-color);
}

/* Site nav */
.site-nav {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  outline: 2px solid blue;
}

.site-nav .link {
  color: var(--title-text-color);
}

.contact-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid blueviolet;
}
.contact {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  /* outline: 2px solid fuchsia; */
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.contact .link:hover,
.site-nav .link:focus,
.contact .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--primary-text-color);
  text-align: center;
  /* height: 600px; */
  outline: 2px solid tomato;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 46px;
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  outline: 2px solid red;
}
.btn-hero {
  /* display: inline-block; */
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px; /*минимальная длинна кнопки */

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: 1px solid transparent; /*transparent - прозрачная рамка */

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  text-align: center;
  /* outline: 2px solid tomato; */
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
}

/* Features */

.features-container {
  outline: 2px solid blue;
  width: 278px;
  margin-bottom: 92px;
}
.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  /* margin-top: 60px; */
  text-align: center;
}
.feature-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.section-container {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  outline: 2px solid blueviolet;
}
.text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  color: var(--primary-text-color);
}

/* Чем мы занимаемся */

.section-subtitle {
  background-color: var(--primary-text-color);
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

/* Наша команда */

.section-team {
  background-color: #f5f4fa;
}

.team-subtitle {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19px;
}

.team-text {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.19px;
}

.img:focus,
.img:hover {
  background-color: var(--accent-color);
}

/* Постоянные клиенты */

/* Подвал */
footer {
  background-color: #2f303a;
}
.footer-text {
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.logo-accent {
  color: var(--primary-white-color);
}

.btn-footer {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  padding: 10px 45px;
}

.btn-footer:hover,
.btn-footer:focus {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
}

.autor {
  color: rgba(255, 255, 255, 0.4);

  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
}

address {
  color: #ffffff;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.add-title {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
}

/* Портфолио */

.card-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-text {
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  font-size: 18px;
  line-height: 1.56;
}
.card-subtitle {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;
}
